
 * {
    font-size: 14px;
    font-family: "Nunito Sans", sans-serif;
    margin: 10px;
    
    
    
} 

 html {
    margin: 0;
}



body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--body-background-color);
    margin: 0;
    
    
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--light-background-color);
    margin-top: 0;
    box-shadow: 0px 5px 11px -7px rgba(153,153,153,1);

    
    
}

h1 {
   color: var(--h1-color);
}

#switch-mode {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-background-color);
    border: none;
    color: var(--text-color);  
    transition: transform ease 0.2s;
    
}

#switch-mode:hover{
    cursor: pointer;
    transform: scale(1.05);
}
    


#switch-mode img{
    margin-right: 0px;
}



#switch-mode:hover{
    cursor: pointer;
}

main{
    width: 100%;
   
    
}

#searching-bar{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--light-background-color);
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: var(--searching-bar-box-shadow);
    
}

input {
    border: none;
    width: 100%;
    height: 100%;
    background-color: var(--light-background-color);
    color: var(--text-color);
}

::placeholder{
    color: var(--text-color);
}

input:focus{
    outline: none;
    border: none;
    box-shadow: none;
    
}

#searching-bar img{
    margin-right: 0;
}

#region-filter{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-self: flex-start;
    background-color: var(--light-background-color);
    width: 45%;
    height: 20%;
    border-radius: 10px;
    padding: 0px 10px;
    margin-left: 20px;
    box-shadow: var(--region-filter-box-shadow);
   
}


#region-filter:focus-visible {
    outline: var(--focus-keyboard);  
}

#region-filter, label:hover{

    cursor: pointer;
}

#search-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    position: relative;
    margin-bottom: 15px;
}

ul {
    
    margin: 0px 10px;
    width: 45%;
    border-radius: 10px;
    background-color: var(--light-background-color);
    padding: 0px 10px;
    text-align: left;
    list-style-type: none;
    display: none;
    position: relative;
    z-index: 10;
    margin-bottom: -130px;
    box-shadow: var(--ul-box-shadow);
    align-self: flex-start;
    margin-left: 20px;

}

li{
   
    width: 100%;
    border-radius: 10px;
    margin: 10px 0px;
    margin-left: 5px;
    color: var(--text-color);
}

li:hover{
    cursor: pointer;
    color: var(--hover-text-color)
    
}


li:focus-visible {
    outline: var(--focus-keyboard); 
}

.country-list {
    width: 85%;
    background-color: var(--light-background-color);
    border-radius: 5px;
    padding-bottom: 20px;
    box-shadow: var(--country-list-box-shadow);
    position: relative;
    z-index: 1;
    margin: 0px 10px 20px 10px;
    transition: transform 0.25s ease-in ;
    text-decoration: none;
}

.country-list:hover {
    transform: scale(1.05);
    cursor: pointer;
   

}

h2{
    color: var(--text-color);
}

.country-img {
    width: 100%;
    margin: 0px 0px 5px 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 180px;
}

.country-name{
    font-size: 1.5rem;
    margin: 17.5px;
}

.country-description{
    color: var(--text-color);
    font-weight: bold;
    margin-left: 17.5px;
}

span{
    font-weight: normal;
}

.search-output {
    display: block;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--light-background-color);
    width: 90%;
    border-radius: 10px;
    margin-top: 0px;
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    box-sizing: border-box;
    position: relative;
    z-index: 20;
    margin-bottom: -150px;
    box-shadow: var(--search-output-box-shadow);
    
}  

.search-output p{
    color: var(--text-color);
}
/* targeting the p element when there is nothing found */

.search-output::-webkit-scrollbar{
    width: 10px;
    
    
    
}

.search-output::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 4px; 
}




.search-links{
    text-decoration: none;
    width: 100%;
    color: var(--text-color);
    padding-top: 5px;

    
}

label{
    color: var(--text-color);
}

.search-links:hover {
    cursor: pointer;
    color: var(--hover-text-color);
    box-shadow: -3px 22px 9px -14px rgba(15,15,15,1);
    
}

#countries-wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
    position: relative;
    flex-wrap: wrap;
    
}





@media (min-width: 480px) {

    .country-list {
        width: 40%;
    }

   

    .country-img {
        width: 100%;
        height: 130px;
    }

    #region-filter{
        width: 45%;
        height: 20%;
       
        margin-left: 30px;
     
    }

    ul {
        margin-left: 30px;
    
    }
  

}

@media (min-width: 660px) {

    .country-img {
        width: 100%;
        margin: 0px 0px 5px 0px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        height: 180px;
    }

    .country-list{
        width: 45%;
    }

    #region-filter{
       
       
       
        margin-left: 35px;
        
    }

}

@media (min-width: 800px) {

    .country-list {
        width: 30%;
      
    }

    #search-wrapper{
        width: 95%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        gap: 5px 10px;
        margin: 0 auto;
        position: static;
        
    }

    #countries-wrapper {
        margin-top: 30px;
    }

    #region-filter{
        grid-column: 8 / end ;
        grid-row: 1;
        display: flex;
      
        height: 75%;
        width: 100%;
        border-radius: 10px;
        padding: 0px;
        margin-left: 0px;
      
        position: static;
       
    }



    #searching-bar{
        grid-column: 1 / 6;
        width: 100%;
        height: 75%;
       
     
       
        margin-bottom: 5px;
        margin-left: 0px;
      
    }


    .search-output {
        grid-column: 1 / 6;
        display: block;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        border-radius: 10px;
        margin-top: 0;
        height: auto;
        max-height: 200px;
        overflow-y: scroll;
        overflow-x: hidden;
        scroll-behavior: smooth;
        box-sizing: border-box;
        margin-bottom: -150px;
        margin-left: 0px;
        
    }  

    ul{
            grid-column: 8 / -1;
            grid-row: 2;
            margin: 0;
            width: 100%;
            border-radius: 10px;
            text-align: left;
            list-style-type: none;
           
            position: static;
            z-index: 10;
            margin-bottom: -130px; 
            padding-right: 2.5px;
            
    }

    main{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }


}

@media (min-width: 1010px) {

    .country-list {
        width: 22%;
       
    }

    .country-img {
       
        height: 190px;
    }

}

@media (min-width: 1350px) {
    .country-img {
      
        height: 235px;
    }
}

.dark-mode-btn {
    display: none;
  }
  @media (prefers-color-scheme: light) {
    .dark-mode-btn {
      display: block;
    }
  }


/* classes for the display mode*/

 :root {
    --body-background-color: hsl(0, 0%, 98%);
    --light-background-color: white;
    --header-box-shadow: 0px 5px 11px -7px rgba(153,153,153,1);
    --h1-color: hsl(200, 15%, 8%);
    --searching-bar-box-shadow: 0px 0px 30px -7px rgba(153,153,153,1);
    --region-filter-box-shadow: 0px 0px 30px -7px rgba(153,153,153,1);
    --ul-box-shadow: 0px 9px 9px -6px rgba(115,115,115,1);
    --country-list-box-shadow: 0px 0px 30px -7px rgba(153,153,153,1);
    --text-color: black;
    --search-output-box-shadow: 0px 9px 9px -6px rgba(115,115,115,1);
    --hover-text-color: rgb(88, 88, 88);
    --focus-keyboard: 2px solid rgba(0, 0, 255, 0.5); 
 }

 :root.dark-mode {
    --body-background-color: hsl(200, 15%, 8%);
    --light-background-color: hsl(209, 23%, 22%);
    --header-box-shadow: 0px 5px 11px -7px rgba(0, 0, 0, 0.7);
    --h1-color: hsl(0, 0%, 98%);
    --searching-bar-box-shadow: 0px 0px 30px -7px rgba(129, 129, 129, 0.7);
    --region-filter-box-shadow: 0px 0px 30px -7px rgba(129, 129, 129, 0.7);
    --ul-box-shadow: 0px 9px 9px -6px rgba(0, 0, 0, 0.7);
    --country-list-box-shadow: 0px 0px 30px -7px rgba(0, 0, 0, 0.7);
    --text-color: hsl(0, 0%, 98%);
    --search-output-box-shadow: 0px 9px 9px -6px rgba(0, 0, 0, 0.7);
    --hover-text-color: rgb(193, 193, 193);
    --focus-keyboard: 2px solid rgba(176, 176, 176, 1) ; 
 
}

/* classes for handleing margins of searching bar and output */

/* classes for handling searchbar screen size > 800px  */

.search-output-OneResultWide{
    
    margin-top: -105px;
  
    
}  
.search-output-ThreeResultWide{
   
    margin-top: -65px;
   
    
}  
.search-output-AllResult{
    grid-column: 1 / 6;
    display: block;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    border-radius: 10px;
    margin-top: 0px;
    height: auto;
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin-bottom: -150px;
    margin-left: 0px;
    
}  




